---
title: About multi-site replication
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic tells you about how <%= vars.single_leader_plan_lc %> topology works in
<%= vars.product_full %> and contains information to help you decide whether to use
multi-site replication.

Multi-site capability in <%= vars.product_short %>
is a disaster recovery solution that enables developers to provision a 
pair of service instances across two foundations.
These two instances are then configured to replicate from a designated leader instance
to its follower instance in the other foundation.
Operators can configure two foundations to be in the same data center
or spread across multiple data centers or geographical regions.

Within your primary foundation you have a choice of instance topologies for your replication leader:
- <%= vars.single_leader_plan_lc %>: this provisions a single node instance.
The resulting configuration resembles a leader-follower service instance, but with the two single-node
instances deployed and replicating across two separate foundations.
- High-Availability Cluster (MySQL 8.0 only): this provisions a high-availability cluster in your
leader foundation (comprising three nodes plus a fourth jumbbox VM), offering greater resiliance to
in-foundation outages. More information on HA clusters can be found in [About highly available clusters](./about-ha.html)

The secondary foundation always uses a <%= vars.single_leader_plan_lc %> for the follower instance.

The foundation types are:

* **Primary Foundation:** This foundation is deployed in your main data center.
Generally, this data center receives the majority of app traffic.
<%= vars.product_short %> assumes that the leader is deployed on this foundation when
healthy.

* **Secondary Foundation:** This foundation is deployed in your failover data center.
Generally, this data center receives less app traffic than the primary foundation,
or no traffic at all.
<%= vars.product_short %> assumes that the follower is deployed on this foundation unless
a developer triggers a failover.


<p> The <%= vars.single_leader_plan %> and high-availability cluster plan types are configured separately
  from the leader-follower plan type.
</p>

For information about enabling multi-site replication, see
[Preparing for multi-site replication](./prepare-multi-site.html).

For information for developers about using multi-site replication,
see
[Using <%= vars.product_short %> for multi-site replication](./use-multi-site.html).

## <a id='benefits'></a>Multi-site replication benefits

Multi-site replication has the following benefits:

+ **Resilience for Service Instances:** Developers can trigger a failover
to maintain app uptime during a data center outage.
For more information,
see [Triggering <%= vars.single_leader_plan %> failover and switchover](./multi-site-trigger-failover.html).

+ **Data Center Upgrades with Zero Downtime:** Operators can upgrade data centers
without taking databases offline by triggering a switchover first.

+ **Support for Multiple Cloud Deployment Models:**
Operators can configure <%= vars.single_leader_plan_lc %> with a
single cloud or hybrid cloud deployment model.
Both deployment models have the same end-user experience.

+ **Support for Active-Passive and App-Layer Active-Active Disaster Recovery:**
For more information, see [About Active-Passive topology](#active-passive)
and [About App-Layer Active-Active topology](#active-active).


##<a id='active-passive'></a> Active-Passive topology

In an active-passive topology, when all foundations and workloads are healthy,
all app traffic is directed to the primary foundation.
The secondary foundation receives no app traffic.

VMware recommends using this topology when your secondary foundation is scaled down,
generally inactive, and does not receive significant app traffic.

For information about active-passive failover and switchover,
see [About failover and switchover](#failover-switchover).

The following diagram describes the active-passive topology in a healthy state:

![This active-passive topology diagram is described here](images/active-passive.png)

<a href="./images/active-passive.png" target="_blank" aria-hidden="true">View a larger version of this diagram.</a>

In the previous diagram:

+ The global DNS load balancer (GLB) directs traffic to the app in the primary foundation.
  This app issues transactions to the leader service instance.
+ The follower service instance in the secondary foundation continuously
replicates data from the leader service instance in the primary foundation.

##<a id='active-active'></a> App-Layer Active-Active topology

In an app-layer active-active topology, when all foundations and workloads are healthy,
app traffic is directed to both the primary and secondary foundation.

VMware recommends using this topology when both your primary and secondary foundations
are scaled up and are expected to serve traffic.

For information about app-layer active-active failover and switchover,
see [About failover and switchover](#failover-switchover).

The following diagram describes the app-layer active-active topology in a healthy state:

![This app-layer active-active topology diagram is described here](images/active-active.png)

<a href="./images/active-active.png" target="_blank" aria-hidden="true">View a larger version of this diagram.</a>

In the previous diagram:

+ The GLB directs traffic to the apps in the primary and
  secondary foundations.
  The apps in the primary and secondary foundation issue transactions to the leader service instance. <br><br>
  The app in the secondary foundation issues transactions to the leader:
      1. Connects to the follower service instance
      1. Issues transactions to the follower service instance
      1. Forwards the transactions from the follower service instance to the leader

+ The follower service instance in the secondary foundation continuously
replicates data from the leader service instance in the primary foundation.

<p class="note important">
<span class="note__title"> Important</span>  The app-layer active-active topology does not enable multi-primary (bidirectional) replication.
Therefore the follower service instance is read-only; database writes on the Secondary Foundation get proxied to the Primary Foundation (and then replicated back to the Secondary). 


## <a id='failover-switchover'></a> Failover and switchover

<%= vars.product_short %> prioritizes data consistency over availability.
Therefore, <%= vars.product_short %> does not trigger failover or switchover automatically
and developers must manually trigger a failover or switchover.
For instructions about triggering failover or switchover, see
see [Triggering <%= vars.single_leader_plan %> Failover and switchover](./multi-site-trigger-failover.html).

The following table describes when you can trigger a failover or switchover:

<table class="table">
  <thead>
  <tr>
    <th width="50%">Failover if...</th>
    <th>Switchover if...</th>
  </tr>
  </thead>
  <tr>
    <td>
      <ul>
        <li>The leader MySQL service instance has crashed
          or is unhealthy and is not automatically recovered by BOSH.</li>
        <li>The leader MySQL service instance is destroyed and unrecoverable.</li>
        <li>The availability zone (AZ) for the leader MySQL service instance experiences an unexpected outage.</li>
        <li>The data center for the leader MySQL service instance experiences an unexpected outage.</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Both the leader and the follower MySQL service instances are healthy. </li>
        <li>You plan to do foundation or data center upgrades or maintenance on your primary site.
          For example, data center hardware upgrades that may disable your leader service instance.</li>
        <li>You plan to degrade performance on the primary site.</li>
      </ul>
    </td>
  </tr>

</table>

For information about <%= vars.single_leader_plan_lc %> topologies
in an healthy state, see [About Active-Passive topology](#active-passive)
and [About App-Layer Active-Active topology](#active-active).

### <a id='failover'></a> Failover

In both the active-passive and app-layer active-active topologies,
if a developer triggers a failover,
all app traffic is directed to the leader in the secondary foundation
and the primary foundation receives no app traffic.

The following diagram describes what happens when you trigger a failover
for a <%= vars.single_leader_plan_lc %> topology:

![This multi-site failover diagram is described here](images/multi-site-failover.png)

<a href="./images/multi-site-failover.png" target="_blank" aria-hidden="true">View a larger version of this diagram.</a>

In the previous diagram:

+ The GLB directs traffic to the app in the secondary foundation.
  This app issues transactions to the leader service instance in the secondary foundation.
+ The leader service instance in the secondary foundation does not replicate data to another
service instance.

### <a id=active-passive-switchover></a> Active-Passive switchover

In an active-passive topology, if a developer triggers a switchover,
all app traffic is directed to the leader in the secondary foundation.
The primary foundation receives no app traffic.

The following diagram describes what happens when you trigger a switchover
in an active-passive topology:

![This active-passive switchover diagram is described here](images/active-passive-switchover.png)

<a href="./images/active-passive-switchover.png" target="_blank" aria-hidden="true">View a larger version of this diagram.</a>

In the preceding diagram:

+ The GLB directs traffic to the app in the secondary foundation.
  This app issues transactions to the leader service instance in the secondary foundation.
+ The leader service instance in the secondary foundation replicates data to the follower service
instance in the primary foundation.

### <a id=active-active-switchover></a> App-Layer Active-Active switchover

If a developer triggers a switchover,
app traffic is still directed to both the primary and secondary foundation.
However, the leader service instance is in secondary foundation.

The following diagram describes what happens when you trigger a switchover
in an active-active topology:

![This active-active switchover diagram is described here](images/active-active-switchover.png)

<a href="./images/active-active-switchover.png" target="_blank" aria-hidden="true">View a larger version of this diagram.</a>

In the preceding diagram:

+ The GLB directs traffic to the apps in the primary and
  secondary foundations.
  The apps in the primary and secondary foundation issue transactions to the leader service instance
  in the secondary foundation. <br><br>
  The app in the primary foundation issues transactions to the leader:
      1. Connects to the follower service instance.
      1. Issues transactions to the follower service instance.
      1. Forwards the transactions from the follower service instance to the leader.

+ The follower service instance in the primary foundation continuously
replicates data from the leader service instance in the secondary foundation

###<a id="enable-external-access"></a> About enabling external access

If external-access is enabled,
replication can occur between two non-routable foundations. Replication traffic goes through tcp-router.

The following diagram describes what happens when you enable external-access for multi-site replication:

![alt-text=""](./images/multi-site-external-access.png)

In the preceding diagram:

+ Before external-access is enabled, replication traffic goes directly to the follower.

+ After external-access is enabled, replication traffic goes through tcp-router to the follower.

<a href="./images/multi-site-external-access.png" target="_blank" aria-hidden="true">View a larger version of this diagram.</a>

## <a id='infrastructure'></a> Infrastructure requirements for <%= vars.single_leader_plan %>

Before you use the <%= vars.single_leader_plan %> plan, consider the following requirements.

### <a id='capacity'></a> Capacity planning

When calculating IaaS usage, you must take into account that each
<%= vars.single_leader_plan %> instance requires two VMs.
Therefore, the resources used for multi-site replication with a <%= vars.single_leader_plan %> leader are
twice the amount of single node plan.

Each high-availability cluster instance requires four VMs. Therefore, the resources used for multi-site replication with a high-availability cluster leader are
5x the amount of single node plan.

For more information,
see [Setting limits for on-demand service instances](.//set-quotas.html) and
[Persistent Disk Usage](./recommended.html#persistent).

### <a id='network'></a> Networking requirements

You must consider the <%= vars.single_leader_plan %> instances that are deployed in
data centers are a geographically farther apart experience higher latencies.

For information about the standard networking rules,
see [Required Networking Rules for <%= vars.single_leader_plan %>](./about.html#multi-site-ports).


## <a id='limitations'></a> <%= vars.single_leader_plan %> limitations

The <%= vars.single_leader_plan %> plan has the following limitation:

<p class="note important">
<span class="note__title"> Important</span> Synchronous replication is not supported. For multi‑site
replication plans, any data that is written to the leader is asynchronously replicated to the follower.</p>
