---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

VMware recommends that you upgrade to the latest patch available for your current minor,
and then upgrade to the latest patch available for the next minor.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a
MySQL patch and VMware releasing <%= vars.product_full %> containing that patch.

## <a id="3-1-4"></a> v3.1.4

**Release Date: Mar 26th, 2024**

>**Important**
> 3.1.x is the last version of <%= vars.product_full %> that supports MySQL 5.7.

### Changes

This release includes the following changes:

+ When you configure a previously inactive plan, the <strong>MySQL Default Version</strong> text box for the plan is set to <strong>MySQL 8.0</strong> by default, instead of the previous default value <strong>MySQL 5.7</strong>.
+ The bootstrap errand now self-selects a high-availability cluster instance node on which to run, and no longer requires the `--instance` flag.
+ Added additional verbosity (innodb,query_plan,microtime) to the slow_query_log.

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.406*</td></tr>
  <tr><td>Percona Server</td><td>5.7.44-48</td></tr>
  <tr><td>Percona Server</td><td>8.0.35-27</td></tr>
  <tr><td>Percona XtraDB cluster</td><td>5.7.44-31.65</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.35-27</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.29</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.35-30</td></tr>
  <tr><td>adbr-release</td><td>0.102.0*</td></tr>
  <tr><td>bpm-release</td><td>1.2.17*</td></tr>
  <tr><td>cf-cli-release</td><td>1.59.0*</td></tr>
  <tr><td>cf-service-gateway-release</td><td>146.0.0*</td></tr>
  <tr><td>count-cores-indicator-release</td><td>2.0.0*</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.217.40*</td></tr>
  <tr><td>dedicated-mysql-adapter-release</td><td>0.382.50*</td></tr>
  <tr><td>loggregator-agent-release</td><td>7.7.5*</td></tr>
  <tr><td>mysql-backup-release</td><td>*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>10.11.0*</td></tr>
  <tr><td>on-demand-service-broker-release</td><td>0.45.3*</td></tr>
  <tr><td>pxc-release</td><td>1.0.24*</td></tr>
  <tr><td>routing-release</td><td>0.294.0*</td></tr>
  <tr><td>service-metrics-release</td><td>2.0.36*</td></tr>
</table>

## <a id="3-1-3"></a> v3.1.3

**Release Date: Jan 19th, 2023**

>**Important**
> 3.1.x is the last version of <%= vars.product_full %> that supports MySQL 5.7.

### Resolved Issues

This release resolves the following issues:

+ A number of high and critical CVEs were addressed by updating the components to the latest version.

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.340*</td></tr>
  <tr><td>Percona Server</td><td>5.7.44-48*</td></tr>
  <tr><td>Percona Server</td><td>8.0.35-27*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.43-31.65*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.35-27*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.29*</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.35-30*</td></tr>
  <tr><td>adbr-release</td><td>0.98.0*</td></tr>
  <tr><td>bpm-release</td><td>1.2.13*</td></tr>
  <tr><td>cf-cli-release</td><td>1.59.0*</td></tr>
  <tr><td>cf-service-gateway-release</td><td>140.0.0*</td></tr>
  <tr><td>count-cores-indicator-release</td><td>2.0.0*</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.217.25*</td></tr>
  <tr><td>dedicated-mysql-adapter-release</td><td>0.382.33*</td></tr>
  <tr><td>loggregator-agent-release</td><td>7.7.4*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.37.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>10.10.0*</td></tr>
  <tr><td>on-demand-service-broker-release</td><td>0.45.3*</td></tr>
  <tr><td>pxc-release</td><td>1.0.23*</td></tr>
  <tr><td>routing-release</td><td>0.287.0*</td></tr>
  <tr><td>service-metrics-release</td><td>2.0.34*</td></tr>
</table>

## <a id="3.1.2"></a> v3.1.2

**This version was an internal dev-release**

## <a id="3-1-1"></a> v3.1.1

**Release Date: Oct 26th, 2023**


>**Important**
> 3.1.x is the last version of <%= vars.product_full %> that supports MySQL 5.7.

### Resolved Issues

This release resolves the following issues:

+ A number of high and critical CVEs were addressed by updating the components to the latest version.

* Users who upgraded multi-site deployments from previous versions to 3.1.0 could experience leader/follower connectivity issues upon switchover. This release addresses that behavior.


* Fixed an issue where smoke tests could time out prematurely when a high availability plan is configured as the first plan in the MySQL Tile.


* Fixed a high-availability proxy dashboard access issue.

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.260*</td></tr>
  <tr><td>Percona Server</td><td>5.7.43-47</td></tr>
  <tr><td>Percona Server</td><td>8.0.33-25</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.43-31.65*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.33-25</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.28</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.33-28*</td></tr>
  <tr><td>adbr-release</td><td>0.93.0*</td></tr>
  <tr><td>bpm-release</td><td>1.2.9*</td></tr>
  <tr><td>cf-cli-release</td><td>1.50.0*</td></tr>
  <tr><td>cf-service-gateway-release</td><td>128.0.0*</td></tr>
  <tr><td>count-cores-indicator-release</td><td>2.0.0</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.217.6*</td></tr>
  <tr><td>dedicated-mysql-adapter-release</td><td>0.382.13*</td></tr>
  <tr><td>loggregator-agent-release</td><td>7.6.4*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.32.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>10.5.0*</td></tr>
  <tr><td>on-demand-service-broker-release</td><td>0.45.0*</td></tr>
  <tr><td>pxc-release</td><td>1.0.18*</td></tr>
  <tr><td>routing-release</td><td>0.283.0*</td></tr>
  <tr><td>service-metrics-release</td><td>2.0.33*</td></tr>
</table>



## <a id="3-1-0"></a> v3.1.0

**Release Date: Oct 4th, 2023**

This release allows application developers to set up multi-site plans between <%= vars.app_runtime_full %> foundations without the need for platform engineers to make the foundations routable.

>**Important**
> 3.1.x is the last version of <%= vars.product_full %> that supports MySQL 5.7.

### Resolved Issues

This release resolves the following issues:

+ **MySQL service bindings support MariaDB Connector/J v3.0 and later:**:

  MariaDB Connector/J 3.0 and later, by default, accept only `jdbc:mariadb` connection strings.

  In service bindings created by the MySQL tile, the `jdbcUrl` parameter now includes the `permitMysqlScheme` option. This ensures that apps that use MariaDB Connector/J 3.0 and later are compatible with MySQL tile service bindings.

+ Removes obsolete `syslog_migration_selector` certificates field. The certificates eventually expire, causing a certificate flag in <%= vars.ops_manager %>, but the field was hidden, so manual intervention was required to address the flag.

+ Fixes an issue where users were unable to delete service keys created for MySQL 8.0 service instances with single-node or leader-follower topologies.

### Changes

This release includes the following changes:

+ Adds dynamic configuration of wsrep_applier_threads. For information about
this configuration, see [WSREP applier threads](./change-default.html#wsrep_applier_threads) in _Changing Defaults Using Arbitrary Parameters_.

+ Sets `wsrep_applier_threads` value based on available CPUs to improve throughput.

+ To support named time zones, time zone information is now loaded into the MySQL system database by default. For information about how to use this feature, see the [MySQL documentation](https://dev.mysql.com/doc/refman/8.0/en/time-zone-support.html).

+ Adds service-gateway support to multi-site topologies. For more information, see [About enabling external access](./about-multi-site.html#enable-external-access) in _About multi-site replication_.

### Known Issues

This release has the following known issues:

There is a known issue for customers running multi-site instances, when upgrading to version 3.1.0.

When <a href="./use-multi-site.html#upgrade">upgrading the follower</a> on the secondary foundation, the instance will fail to deploy because it will not be able to successfully communicate with the leader.

This can be confirmed by reviewing the MySQL error logs for that follower instance:
```bash
2023-10-18T23:02:30.580265Z 1 [ERROR] Slave I/O for channel '': error connecting to master 'f5243b8fb7954c7887f8c30fb7536f00@0e8dbc3b-b23a-408c-b9b2-2a78f1218e16.mysql.internal:3306' - retry-time: 60  retries: 1, Error_code: 2005
```

The issue can be addressed by one of these solutions
+ Create a new instance on the secondary foundation, and set that instance to be the new follower
+ Upgrade to the newest version 3.1 patch release - a fix has been included in 3.1.1

### Breaking Changes

+ **Percona 8.0.22: DROP USER fails with an error if any account to be dropped is named as the DEFINER attribute for any stored object.:**:

  This release addresses this breaking change in Percona. Deleting a service key no longer results in a failure when the user associated with the service key has been used to create stored objects.
  Instead, as in previous releases, the objects will be orphaned.

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.222*</td></tr>
  <tr><td>Percona Server</td><td>8.0.33-25*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.42-31.65*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.33-25*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.28</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.33-28*</td></tr>
  <tr><td>adbr-release</td><td>0.89.0*</td></tr>
  <tr><td>bpm-release</td><td>1.2.7*</td></tr>
  <tr><td>cf-cli-release</td><td>1.49.0*</td></tr>
  <tr><td>cf-service-gateway-release</td><td>123.0.0*</td></tr>
  <tr><td>count-cores-indicator-release</td><td>2.0.0</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.217.1*</td></tr>
  <tr><td>dedicated-mysql-adapter-release</td><td>0.382.2*</td></tr>
  <tr><td>loggregator-agent-release</td><td>7.6.2*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.31.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>10.4.0*</td></tr>
  <tr><td>on-demand-service-broker-release</td><td>0.44.0*</td></tr>
  <tr><td>pxc-release</td><td>1.0.17*</td></tr>
  <tr><td>routing-release</td><td>0.281.0*</td></tr>
  <tr><td>service-metrics-release</td><td>2.0.32*</td></tr>
</table>

## <a id="3-0-1"></a> v3.0.1

**Release Date: Jul 20th, 2023**

### Changes

This release includes the following changes:

+ A number of high and critical CVEs were addressed by updating the components to the latest version
+ Customers who are enrolled to capture telemetry can additionally track the number of CPU cores consumed by all MySQL service instances within a foundation

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/mysql/orphaned-stored-object" %>

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.148</td></tr>
  <tr><td>Percona Server</td><td>8.0.32-24*</td></tr>
  <tr><td>Percona Server</td><td>5.7.42-46</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.32-24*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.41-31.65*</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.32-26*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.28</td></tr>
  <tr><td>adbr-release</td><td>0.83.0*</td></tr>
  <tr><td>bpm-release</td><td>1.2.4*</td></tr>
  <tr><td>cf-cli-release</td><td>1.45.0*</td></tr>
  <tr><td>cf-service-gateway-release</td><td>114.0.0*</td></tr>
  <tr><td>count-cores-indicator-release</td><td>2.0.0*</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.187.14*</td></tr>
  <tr><td>dedicated-mysql-adapter-release</td><td>0.340.12*</td></tr>
  <tr><td>loggregator-agent-release</td><td>6.5.12*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.27.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>10.1.0*</td></tr>
  <tr><td>on-demand-service-broker-release</td><td>0.43.2*</td></tr>
  <tr><td>pxc-release</td><td>1.0.14*</td></tr>
  <tr><td>routing-release</td><td>0.275.0*</td></tr>
  <tr><td>service-metrics-release</td><td>2.0.30*</td></tr>
</table>

## <a id="3-0-0"></a> v3.0.0

**Release Date: April 5th, 2023**

### Changes

This release includes the following changes:

+ Support for MySQL 5.7 and 8.0: a new **MySQL Default Version** field for service plans enables operators to select either MySQL 5.7 or MySQL 8.0 as the default version for service instances created using the plan.
+ The tile requires Ubuntu Jammy stemcell 1.95 or later.
+ The number of available service plans has increased from 9 to 18.
+ For HA service instances, all nodes use TLS for internal communication.
+ VM extensions: a new field for service plans enables operators to configure a list of custom VM extensions that apply to VMs for service instances created using the plan.

### Breaking Changes

This release includes the following breaking changes:

+ The `enable_tls` property has been renamed to `enforce_client_tls`.
+ Ubuntu Jammy stemcells require TLS v1.2 or above.
+ MySQL 8.0 service instances support both TLS v1.2 and TLS v1.3. MySQL 5.7 service instances support only TLS v1.2.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/mysql/orphaned-stored-object" %>

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.95</td></tr>
  <tr><td>Percona Server</td><td>8.0.31-23*</td></tr>
  <tr><td>Percona Server</td><td>5.7.40-43</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.31-23*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.40-31.63</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.32-25*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.27</td></tr>
  <tr><td>pxc-release</td><td>1.0.8*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.25.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.24.0*</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.187.0*</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_
