---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

VMware recommends that you upgrade to the latest patch available for your current minor,
and then upgrade to the latest patch available for the next minor.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a
MySQL patch and VMware releasing <%= vars.product_full %> containing that patch.

>**Important**
><%= vars.product_full %> 3.1.x is the last version of <%= vars.product_full %> that supports MySQL 5.7.
>For more information about the upgrade process from 5.7 to 8.0, including items to review to ensure a smooth transition, please see [Upgrading from MySQL 5.7 to 8.0](./upgrade.html#57-to-80-upgrade">).

## <a id="3-1-5"></a> v3.1.5

**Release Date: TBD**

### Changes

This release includes the following changes:

+ Stemcell requirements were relaxed. Ubuntu Jammy `1.x` stemcells are now supported.

## <a id="3-1-4"></a> v3.1.4

**Release Date: April 8th, 2024**

### Changes

This release includes the following changes:

+ When you configure a previously inactive plan, the <strong>MySQL Default Version</strong> text box for the plan is set to <strong>MySQL 8.0</strong> by default, instead of the previous default value <strong>MySQL 5.7</strong>.
+ The bootstrap errand now self-selects a high-availability cluster instance node on which to run, and no longer requires the `--instance` flag.
+ Added additional verbosity (innodb,query_plan,microtime) to the slow_query_log.
+ A number of high and critical CVEs are addressed by updating components to the latest version.

### Resolved Issues

* Binding creation is further isolated from ongoing transaction execution. Previously, binding creation during an active transaction
  sometimes failed or aborted the transaction.
* Improved recovery of MySQL service instances after a VM reboot.

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.406*</td></tr>
  <tr><td>Percona Server</td><td>5.7.44-48</td></tr>
  <tr><td>Percona Server</td><td>8.0.36-28*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.44-31.65</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.36-28*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.29</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.35-30</td></tr>
  <tr><td>adbr-release</td><td>0.103.0*</td></tr>
  <tr><td>bpm-release</td><td>1.2.18*</td></tr>
  <tr><td>cf-cli-release</td><td>1.59.0</td></tr>
  <tr><td>cf-service-gateway-release</td><td>148.0.0*</td></tr>
  <tr><td>count-cores-indicator-release</td><td>2.0.0*</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.217.43*</td></tr>
  <tr><td>dedicated-mysql-adapter-release</td><td>0.382.53*</td></tr>
  <tr><td>loggregator-agent-release</td><td>7.7.5</td></tr>
  <tr><td>mysql-data-backup-restore-release</td><td>3.1.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>10.13.0*</td></tr>
  <tr><td>on-demand-service-broker-release</td><td>0.45.4*</td></tr>
  <tr><td>pxc-release</td><td>1.0.26*</td></tr>
  <tr><td>routing-release</td><td>0.295.0*</td></tr>
  <tr><td>service-metrics-release</td><td>2.0.36</td></tr>
</table>

## <a id="3-1-3"></a> v3.1.3

**Release Date: Jan 19th, 2023**

>**Important**
> 3.1.x is the last version of <%= vars.product_full %> that supports MySQL 5.7.

### Resolved Issues

This release resolves the following issues:

+ A number of high and critical CVEs were addressed by updating the components to the latest version.

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.340*</td></tr>
  <tr><td>Percona Server</td><td>5.7.44-48*</td></tr>
  <tr><td>Percona Server</td><td>8.0.35-27*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.43-31.65*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.35-27*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.29*</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.35-30*</td></tr>
  <tr><td>adbr-release</td><td>0.98.0*</td></tr>
  <tr><td>bpm-release</td><td>1.2.13*</td></tr>
  <tr><td>cf-cli-release</td><td>1.59.0*</td></tr>
  <tr><td>cf-service-gateway-release</td><td>140.0.0*</td></tr>
  <tr><td>count-cores-indicator-release</td><td>2.0.0*</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.217.25*</td></tr>
  <tr><td>dedicated-mysql-adapter-release</td><td>0.382.33*</td></tr>
  <tr><td>loggregator-agent-release</td><td>7.7.4*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.37.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>10.10.0*</td></tr>
  <tr><td>on-demand-service-broker-release</td><td>0.45.3*</td></tr>
  <tr><td>pxc-release</td><td>1.0.23*</td></tr>
  <tr><td>routing-release</td><td>0.287.0*</td></tr>
  <tr><td>service-metrics-release</td><td>2.0.34*</td></tr>
</table>

## <a id="3.1.2"></a> v3.1.2

**This version was an internal dev-release**

## <a id="3-1-1"></a> v3.1.1

**Release Date: Oct 26th, 2023**


>**Important**
> 3.1.x is the last version of <%= vars.product_full %> that supports MySQL 5.7.

### Resolved Issues

This release resolves the following issues:

+ A number of high and critical CVEs were addressed by updating the components to the latest version.

* Users who upgraded multi-site deployments from previous versions to 3.1.0 could experience leader/follower connectivity issues upon switchover. This release addresses that behavior.


* Fixed an issue where smoke tests could time out prematurely when a high availability plan is configured as the first plan in the MySQL Tile.


* Fixed a high-availability proxy dashboard access issue.

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.260*</td></tr>
  <tr><td>Percona Server</td><td>5.7.43-47</td></tr>
  <tr><td>Percona Server</td><td>8.0.33-25</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.43-31.65*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.33-25</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.28</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.33-28*</td></tr>
  <tr><td>adbr-release</td><td>0.93.0*</td></tr>
  <tr><td>bpm-release</td><td>1.2.9*</td></tr>
  <tr><td>cf-cli-release</td><td>1.50.0*</td></tr>
  <tr><td>cf-service-gateway-release</td><td>128.0.0*</td></tr>
  <tr><td>count-cores-indicator-release</td><td>2.0.0</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.217.6*</td></tr>
  <tr><td>dedicated-mysql-adapter-release</td><td>0.382.13*</td></tr>
  <tr><td>loggregator-agent-release</td><td>7.6.4*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.32.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>10.5.0*</td></tr>
  <tr><td>on-demand-service-broker-release</td><td>0.45.0*</td></tr>
  <tr><td>pxc-release</td><td>1.0.18*</td></tr>
  <tr><td>routing-release</td><td>0.283.0*</td></tr>
  <tr><td>service-metrics-release</td><td>2.0.33*</td></tr>
</table>



## <a id="3-1-0"></a> v3.1.0

**Release Date: Oct 4th, 2023**

This release allows application developers to set up multi-site plans between <%= vars.app_runtime_full %> foundations without the need for platform engineers to make the foundations routable.

>**Important**
> 3.1.x is the last version of <%= vars.product_full %> that supports MySQL 5.7.

### Resolved Issues

This release resolves the following issues:

+ **MySQL service bindings support MariaDB Connector/J v3.0 and later:**:

  MariaDB Connector/J 3.0 and later, by default, accept only `jdbc:mariadb` connection strings.

  In service bindings created by the MySQL tile, the `jdbcUrl` parameter now includes the `permitMysqlScheme` option. This ensures that apps that use MariaDB Connector/J 3.0 and later are compatible with MySQL tile service bindings.

+ Removes obsolete `syslog_migration_selector` certificates field. The certificates eventually expire, causing a certificate flag in <%= vars.ops_manager %>, but the field was hidden, so manual intervention was required to address the flag.

+ Fixes an issue where users were unable to delete service keys created for MySQL 8.0 service instances with single-node or leader-follower topologies.

### Changes

This release includes the following changes:

+ Adds dynamic configuration of wsrep_applier_threads. For information about
this configuration, see [WSREP applier threads](./change-default.html#wsrep_applier_threads) in _Changing Defaults Using Arbitrary Parameters_.

+ Sets `wsrep_applier_threads` value based on available CPUs to improve throughput.

+ To support named time zones, time zone information is now loaded into the MySQL system database by default. For information about how to use this feature, see the [MySQL documentation](https://dev.mysql.com/doc/refman/8.0/en/time-zone-support.html).

+ Adds service-gateway support to multi-site topologies. For more information, see [About enabling external access](./about-multi-site.html#enable-external-access) in _About multi-site replication_.

### Known Issues

This release has the following known issues:

There is a known issue for customers running multi-site instances, when upgrading to version 3.1.0.

When <a href="./use-multi-site.html#upgrade">upgrading the follower</a> on the secondary foundation, the instance will fail to deploy because it will not be able to successfully communicate with the leader.

This can be confirmed by reviewing the MySQL error logs for that follower instance:
```bash
2023-10-18T23:02:30.580265Z 1 [ERROR] Slave I/O for channel '': error connecting to master 'f5243b8fb7954c7887f8c30fb7536f00@0e8dbc3b-b23a-408c-b9b2-2a78f1218e16.mysql.internal:3306' - retry-time: 60  retries: 1, Error_code: 2005
```

The issue can be addressed by one of these solutions
+ Create a new instance on the secondary foundation, and set that instance to be the new follower
+ Upgrade to the newest version 3.1 patch release - a fix has been included in 3.1.1

### Breaking Changes

+ **Percona 8.0.22: DROP USER fails with an error if any account to be dropped is named as the DEFINER attribute for any stored object.:**:

  This release addresses this breaking change in Percona. Deleting a service key no longer results in a failure when the user associated with the service key has been used to create stored objects.
  Instead, as in previous releases, the objects will be orphaned.

### Compatibility

The following components are compatible with this release:

<table class="table">
  <thead>

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
</thead>
  <tr><td>Stemcell</td><td>1.222*</td></tr>
  <tr><td>Percona Server</td><td>8.0.33-25*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.42-31.65*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>8.0.33-25*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.28</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.33-28*</td></tr>
  <tr><td>adbr-release</td><td>0.89.0*</td></tr>
  <tr><td>bpm-release</td><td>1.2.7*</td></tr>
  <tr><td>cf-cli-release</td><td>1.49.0*</td></tr>
  <tr><td>cf-service-gateway-release</td><td>123.0.0*</td></tr>
  <tr><td>count-cores-indicator-release</td><td>2.0.0</td></tr>
  <tr><td>dedicated-mysql-release</td><td>0.217.1*</td></tr>
  <tr><td>dedicated-mysql-adapter-release</td><td>0.382.2*</td></tr>
  <tr><td>loggregator-agent-release</td><td>7.6.2*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.31.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>10.4.0*</td></tr>
  <tr><td>on-demand-service-broker-release</td><td>0.44.0*</td></tr>
  <tr><td>pxc-release</td><td>1.0.17*</td></tr>
  <tr><td>routing-release</td><td>0.281.0*</td></tr>
  <tr><td>service-metrics-release</td><td>2.0.32*</td></tr>
</table>

&#42; _Components marked with an asterisk have been updated_
