---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

<%# The below uses the local product variable and math so we do not need to edit it
with every release %>
<% previous_version = (product_info['local_product_version'].to_f - 0.1).round(2) %>
<% current_version = product_info['local_product_version'] %>

VMware recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the next minor line.
For example, if you use an older v<%= previous_version %>.x
version, upgrade to the latest v<%= previous_version %>.x version
before upgrading to the latest v<%= current_version %>.x version.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-9-4"></a> v2.9.4

**Release Date: May 28, 2021**

<p class="note breaking"><strong>Breaking Changes:</strong>
The breaking changes listed for v2.9.0 also apply if you are upgrading from v2.8 to v2.9.4.
See <a href="#2-9-0-breaking-changes">Breaking Changes</a> below.
</p>

### Features

New feature in this release:

+ **List as many backups as needed:**
  Previously, the Application Developer Backup and Restore (ADBR) plugin would always list the 5 most recent backups.
  
  Now, the ADBR plugin accepts an integer parameter to specify how many backups to list. The plugin will continue to 
  list 5 backups by default.

  See https://plugins.cloudfoundry.org/#ApplicationDataBackupRestore to install the new plugin.

+ **Configure backup location with bucket path:**
  The tile now accepts an optional field for bucket path. This will allow backups to be stored with a path like: 
  `p.mysql > BUCKET-PATH > service-instance_GUID > yyyy > mm > dd`.<br><br>

  Previously, the Application Developer Backup and Restore (ADBR) feature stored backup
  artifacts with a path like:
  `p.mysql > service-instance_GUID > yyyy > mm > dd`.<br><br>
  
  Existing backup artifacts can still be accessed through the cf CLI using the `adbr` plugin.

### Resolved Issues

This release has the following fix:

+ **ADBR API only accepts TLS 1.2 connections**:
  Previously, the ADBR API was accepting all TLS connections regardless of protocol version.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-db-status" %>


### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.125*</td></tr>
  <tr><td>Percona Server</td><td>5.7.33&ndash;36*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.33&ndash;36*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.21</td></tr>
  <tr><td>mysql-backup-release</td><td>2.16.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.34.0*</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-9-3"></a> v2.9.3

**Release Date: March 11, 2021**

<p class="note breaking"><strong>Breaking Changes:</strong>
The breaking changes listed for v2.9.0 also apply if you are upgrading from v2.8 to v2.9.3.
See <a href="#2-9-0-breaking-changes">Breaking Changes</a> below.
</p>

### Features

New feature in this release:

+ **Backup Artifacts are organized under Subfolders in External Storage:**
  Previously, the Application Developer Backup and Restore (ADBR) feature stored backup
  artifacts in the root directory in external storage.
  For easier navigation, backup artifacts are now stored under
  `p.mysql > service-instance_GUID > yyyy > mm > dd`.<br><br>

    Old backup artifacts stored in the root directory can still be accessed through the cf CLI
    using the `adbr` plugin.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-db-status" %>


### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.101*</td></tr>
  <tr><td>Percona Server</td><td>5.7.32&ndash;35*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.32&ndash;31*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.21*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.16.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.33.0*</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-9-2"></a> v2.9.2

**Release Date: November 6, 2020**

<div class="note breaking"><strong> Breaking Change:</strong>
If you store automated backups in an S3-compatible bucket that requires a path-style URL to address the bucket,
then select <strong>Force path style access to bucket</strong> before upgrading.
<br><br>
This is necessary because the default style for addressing S3-compatible buckets changed between
v2.8.x, v2.9.0, and v2.9.1:<br>
• In v2.9.1 and later, the default bucket address style is virtual hosted.<br>
• In v2.9.0, the default bucket address style is path.<br>
• In v2.8.x, the bucket address style is detected automatically.
<br><br>
For how to select <strong>Force path style access to bucket</strong>,
see <a href="upgrade.html">Upgrading VMware Tanzu SQL with MySQL for VMs</a>.
</div>
<p class="note breaking"><strong>Breaking Changes:</strong>
The breaking changes listed for v2.9.0 also apply if you are upgrading from v2.8 to v2.9.2.
See <a href="#2-9-0-breaking-changes">Breaking Changes</a> below.
</p>

### Features

New features and changes in this release:

+ **Multi-Site Replication GA:** The Multi-Site Replication feature is officially generally available
  in this release. There have been no changes to the feature since v2.9.1.
+ **Removed Global service instance quota limit:** Previously, operators could not set the maximum service
  instances quota higher than 500 service instances. This upper limit has been removed.
+ **Percona Server:** Upgraded to v5.7.31-34
+ **Percona XtraDB Cluster:** Upgraded to v5.7.31-34
  + This Percona XtraDB Cluster version contains a patch for a remote code execution vulnerability, CVE-2020-15180.
    For more information, see [Percona's blog post](https://www.percona.com/blog/2020/10/30/cve-2020-15180-affects-percona-xtradb-cluster/).

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-db-status" %>


### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.90*</td></tr>
  <tr><td>Percona Server</td><td>5.7.31-34*</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.31-34*</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.20</td></tr>
  <tr><td>mysql-backup-release</td><td>2.15.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.30.0*</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-9-1"></a> v2.9.1

**Release Date: October 29, 2020**

<div class="note breaking"><strong> Breaking Change:</strong>
If you store automated backups in an S3-compatible bucket that requires a path-style URL to address the bucket,
then select <strong>Force path style access to bucket</strong> before upgrading.
<br><br>
This is necessary because the default style for addressing S3-compatible buckets changed between
v2.8.x, v2.9.0, and v2.9.1:<br>
• In v2.9.1, the default bucket address style is virtual hosted.<br>
• In v2.9.0, the default bucket address style is path.<br>
• In v2.8.x, the bucket address style is detected automatically.
<br><br>
For how to select <strong>Force path style access to bucket</strong>,
see <a href="upgrade.html">Upgrading VMware Tanzu SQL with MySQL for VMs</a>.
</div>

<p class="note breaking"><strong>Breaking Changes:</strong>
The breaking changes listed for v2.9.0 also apply if you are upgrading from v2.8 to v2.9.1.
See <a href="#2-9-0-breaking-changes">Breaking Changes</a> below.
</p>

### Features

New features and changes in this release:

+ **Support for both S3 path-style URLs and virtual hosted-style URLs:**
  Amazon S3 plans to deprecate S3 path-style URLs in favor of virtual hosted-style URLs.
  However, some S3-compatible buckets from other providers still use path-style URLs.
  If the S3-compatible bucket that you use for backup storage requires a path-style URL,
  select **Force path style access to bucket** in <%= vars.ops_manager %>.
  See [Configure Backups in <%= vars.ops_manager %>](automated-backup.html#configure-aws).

    For general information about the deprecation of S3 path-style
  URLs, see AWS blog posts:
  [Amazon S3 Path Deprecation Plan – The Rest of the Story](https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/)
  and the subsequent [Update to Amazon S3 Path Deprecation Plan](https://aws.amazon.com/blogs/storage/update-to-amazon-s3-path-deprecation-plan/).

+ **Support for tuning MySQL full-text search:**
  Developers who want to optimize MySQL's full-text search to allow for shorter words
  can set the `optimize_for_short_words` arbitrary parameter to `true`.
  This parameter sets the MySQL `innodb_ft_min_token_size`
  server setting to `1`. For more information, see
  [Optimize for Short Words](change-default.html#optimize_for_short_words)
  in _Changing Defaults Using Arbitrary Parameters_.

### Resolved Issues

This release has the following fixes:

+ **Uppercase letters in the service network no longer prevents configuration of Multi-Site Replication:**
  Previously, if you had configured the service network name with uppercase letters in your environment,
  multi-site replication could not be configured successfully.

+ **The `cf adbr list-backups` command no longer fails to list backups for non-AWS S3-compatible blobstores.**
  For example, the command now supports listing backups in Minio S3-compatible storage.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-db-status" %>

### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.85*</td></tr>
  <tr><td>Percona Server</td><td>5.7.30–33</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.30–31.43</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.20</td></tr>
  <tr><td>mysql-backup-release</td><td>2.15.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.29.0*</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-9-0"></a> v2.9.0

**Release Date: September 14, 2020**

### <a name="2-9-0-breaking-changes"></a> Breaking Changes

Breaking changes in this release:

+ **Additional Networking Port for Backup:**
  Before upgrading from v2.8 to v2.9, ensure that port 2345 is open from <%= vars.app_runtime_abbr %>
  to ODB.

    For the complete list of ports that need to be open for <%=vars.product_short %>,
  see [Required Networking Rules for <%=vars.product_short %>](about.html#mysql-ports)
  in _On-Demand Networking_.

+ **Location of backup artifact:**
  Backups are no longer stored in a subdirectory in the storage destination.
  Instead, they are stored at the root-level.

+ **Removed fields from tile configuration:**
  The following properties have been removed from the tile configuration.
  Remove them from any automation that configures the tile.
  + `.properties.backups_selector.s3.enable_email_alerts`
  + `.properties.backups_selector.scp.enable_email_alerts`
  + `.properties.backups_selector.gcs.enable_email_alerts`
  + `.properties.backups_selector.azure.enable_email_alerts`
  + `.properties.backups_selector.s3.path`
  + `.properties.backups_selector.azure.path`

+ **Cron expressions for automated backups are validated:**
  If your cron schedule is invalid in v2.8, the upgrade to v2.9 fails.
  For information about cron schedules for automated backups,
  see [Configuring Automated Backups](https://docs.pivotal.io/p-mysql/2-9/automated-backup.html).

* **Update the MySQL Connector/J:** If you use MySQL Connector/J v8.0.13–8.0.21 and TLS,
   then update the MySQL Connector to v8.0.22 or later before upgrading <%=vars.product_short %>.
   The older versions of the MySQL Connector do not support verifying TLS connections with wildcard domains.

     For more information, see <a href="troubleshoot-instances.html#connector-8.0.13">Apps
   Requiring TLS Cannot Connect to the Database after Upgrade from v2.8</a> in _Troubleshooting Instances_.

### Features

New features and changes in this release:

+ **Improved backup and restore workflow:**
Operators and developers can use the ApplicationDataBackupRestore (adbr) plugin
with the Cloud Foundry Command Line Interface (cf CLI) to back up and
restore service instances.
For more information, see [Backing Up and Restoring <%= vars.product_full %>](./backup-restore.html)
and [Manually Restoring from Backup](manual-restore.html).

+ **VMware strongly recommends that if operators offer an HA cluster plan,
  they also offer a <%= vars.single_leader_plan %> plan.**
  To restore an HA cluster service instance from backup, developers need access
  to a <%= vars.single_leader_plan %> plan.
  For more information,
  see [Restore a Service Instance](./backup-restore.html#restore) in _Backing Up and Restoring <%= vars.product_full %>_
  and [Configure Service Plans](./install-config.html#active).

+ **A developer can change the backup schedule for an individual service instance using
an arbitrary parameter:**
For more information, see [Backup Schedule](./change-default.html#backup-schedule).

+ **Each backup artifact has a unique encryption key:**
  Each backup of any MySQL service instance now uses a unique encryption key.

+ **SCP backups use SFTP:**
  When Secure copy protocol (SCP) is configured as the external storage to upload backups,
  it now relies on SSH File Transfer Protocol (SFTP).

+ **All service instances are provisioned with a DNS alias:**
  This DNS alias is used as the hostname in new service keys.
  Old service keys, which use the DNS address for the hostname, continue to work.

+ **The legacy workflow to enable TLS on a service instance has been removed:**
  In the legacy workflow, which  was deprecated after MySQL for PCF v2.4,
  developers had to run `cf update-service` to enable TLS on each service instance.
  This workflow is no longer needed because MySQL connectors can use the DNS alias to connect
  to the service instance over TLS.


### Known Issues

This release has the following issues:

+ **The `cf adbr list-backups` command fails to list backups saved in non-AWS S3-compatible blobstores.**
  For example, the command shows an error message if the backups are in Minio S3-compatible storage.

<%= partial vars.path_to_partials + "/mysql/multi-site-network-name-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/ki-adbr-db-status" %>

### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.78*</td></tr>
  <tr><td>Percona Server</td><td>5.7.30–33</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.30–31.43</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.20</td></tr>
  <tr><td>mysql-backup-release</td><td>2.15.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.28.0</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
