---
title: Troubleshooting On-Demand Instances
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic provides techniques that app developers can use to begin troubleshooting
 on-demand instances.

## <a id="errors"></a> Troubleshoot Errors

Start here if you are responding to a specific error or error messages.

### <a id="x-product"></a> Common Service Errors

Errors common to on-demand services are:

+ [No Metrics from Log Cache](#no-metrics)

+ [When Using Service-Gateway Access, create-service or update-service Fails](#no-service-gateway-ports)

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services-tshoot/tshoot-no-metrics' %>


<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: "no-service-gateway-ports",
    description: "When Using Service-Gateway Access, create-service or update-service Fails",
    symptom: "<p>When you run <code>cf create-service</code> or <code>cf update-service</code> with
              <code>{\"enable_external_access\": true}</code>, you receive an error like this:</p>
              <pre class='terminal'>Service broker error: contact your operator,<br>service configuration issue occurred</pre>",
    cause: "<p>When off-platform access is set up for a foundation, a range of TCP ports is reserved for MySQL traffic.
            Each service instance for which service-gateway access is enabled requires one port.</p>
            <p>If all the ports in the range have been assigned to other service instances,
            then you cannot create or update service instances to use service-gateway access.</p>",
    solution: "<p>To resolve this error, confirm that the problem is due to not enough ports
               and, if so, increase the port range:</p>
                <ol>
                 <li>
                     Review the BOSH logs on the MySQL service broker VM,
                     and, in the <code>broker.stdout.log</code> file look for this error message:
                     <code>Failed to update manifest: There are no free ports in range: […</code>
                     For information about how to download the service broker logs,
                     see <a href='troubleshoot.html#bosh-cf-access'>Access Broker Logs and VMs</a>.
                  </li>
                  <li> Ask the operator to increase the external TCP port range for off-platform access
                       by editing the <strong>Settings</strong> pane on the #{vars.product_short} tile.
                       For information about the Settings pane,
                       see <a href='enable-service-gateway.html#configure-service-gateway-plan'>
                       Enable Service-Gateway Access</a> in <em>Enabling Service-Gateway Access</em>.
                  </li>
                 </ol> "
} %>

### <a id="inaccessible"></a>If Instances or Database are Inaccessible

You might experience the following in a leader-follower or <%= vars.single_leader_plan %>
topology, or during upgrades:

- [Temporary Outages](#outages)
- [Apps Cannot Write to the Database](#read-only)
- [Apps Are Inoperable](#disk-full)
- [Apps Cannot Connect to the Database](#m-tls-error)
- [MySQL Connector/J v5.1.41 or Earlier](#connecter)
- [Mutual TLS](#m-tls)


<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'outages',
    description: 'Temporary Outages',
    symptom: vars.product_full + ' service instances can become temporarily inaccessible during upgrades and VM or network failures.',
    solution: 'For more information, see <a href="./upgrade.html#interruptions">Service Interruptions</a>.'
} %>


<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'read-only',
    description: 'Apps Cannot Write to the Database',
    symptom: "You have a leader-follower or #{vars.single_leader_plan} topology, and your apps can no
    longer write to the database.",
    cause: "<p>If you have a leader-follower topology, the leader VM might be read-only. 
    If you can no longer read to the database as well, your persistent disk might be full.</p>
    <p>If you have a #{vars.single_leader_plan} topology, your leader VM might be down.</p>",
    solution: "<p>If you have a leader-follower topology and the leader VM is read-only, for how to 
    troubleshoot this problem, see <a href='./troubleshoot.html#both-read-only'>
        Both Leader and Follower Instances Are Read-Only</a>.</p>
    <p>If your apps can no longer read to the database as well,
    your persistent disk might be full. For more information about
    troubleshooting inoperable apps, see <a href='#disk-full'>
        Apps are Inoperable</a>.</p>
    <p>If you have a #{vars.single_leader_plan} topology and your leader VM is down, 
    to resolve this issue, you can trigger a failover to the follower VM.
    For more information about troubleshooting this problem,
    see <a href='./multi-site-trigger-failover.html'>
        Triggering Multi-Site Replication Failover and Switchover</a>.</p>"
} %>


<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'disk-full',
    description: 'Apps Are Inoperable',
    symptom: 'Your apps become inoperable. Read,
write, and cf CLI operations do not work.',
    cause: 'Your persistent disk might be full.',
    solution: 'Contact your operator to check if your persistent disk is full.
For more information about troubleshooting this problem, see
<a href="./troubleshoot.html#persistent-disk">Persistent Disk is Full</a>.'
} %>



<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'm-tls-error',
    description: 'Apps Cannot Connect to the Database',
    symptom: 'Apps can fail to connect to the database.',
    cause: '<ul>
    <li>When your app uses MySQL Connector/J v5.1.41 or earlier.
    </li>
    <li>When your app uses mutual TLS (mTLS).</li>
</ul>',
    solution: '<ul>
    <li>See <a href="#connector">MySQL Connector/J v5.1.41 or Earlier</a> below.</li>
    <li>See <a href="#m-tls">Mutual TLS</a> below.</li>
</ul>'
} %>




<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'connecter',
    description: 'MySQL Connector/J v5.1.41 or Earlier',
    symptom: '<p>Apps cannot connect to the database when TLS is enabled and
the apps are using MySQL Connector/J v5.1.41 or earlier.</p>',
    cause: '<p>You see errors about certificates.</p>
<p>For example:</p>
<pre class="terminal">Caused by: javax.net.ssl.SSLHandshakeException: Received fatal alert: bad_certificate
  at sun.security.ssl.Alerts.getSSLException(Alerts.java:192) ~[na:1.8.0_152]</pre>',
    solution:'<p>If you cannot update the MySQL Connector/J, do the workaround in
<a href="https://community.pivotal.io/s/article/how-to-disable-keymanager-and-or-trustmanager-in-container-security-provider-framework-in-the-java-buildpack">
How to disable KeyManager and TrustManager in Container Security Provider Framework in the
Javanbuildpack</a> in the Support knowledge base.</p>'
} %>


<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'm-tls',
    description: 'Mutual TLS',
    symptom: 'Apps cannot connect to the database when TLS is enabled and your apps uses mTLS.',
    cause: 'You see network errors in your app logs.',
    solution: 'To resolve this issue disable mTLS in your apps.'
} %>

### <a id="failed-adbr"></a> Failed Backup or Restore with the adbr Plugin

If you get errors when working with the ApplicationDataBackupRestore (adbr) plugin
for the Cloud Foundry Command Line Interface (cf CLI) tool, see:

- ["400" Error during Backup or Restore](#failed-adbr-400)
- ["500" Error during Backup or Restore](#failed-adbr-500)
- ["502" Error during Backup or Restore](#failed-adbr-502)
- ["Status: Restore failed" after adbr Restore](#failed-restore)

<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'failed-adbr-400',
    description: '"400" Error during Backup or Restore',
    symptom: '<p>When running <code>cf adbr backup</code> or <code>cf adbr restore</code>, an error occurs.</p>
    <p>For example:</p>
    <pre class="terminal">$ cf adbr backup myDB
  Failed to backup service instance "myDB": failed due to server error, status code: 400</pre>',
    cause: 'The broker on the VM is not running or is in an unhealthy state.',
    solution: 'Verify the health of the broker VM and review the logs for the broker.'
} %>

<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'failed-adbr-500',
    description: '"500" Error during Backup or Restore',
    symptom: '<p>When running <code>cf adbr backup</code> or <code>cf adbr restore</code>, an error occurs.</p>
    <p>For example:</p>
    <pre class="terminal">$ cf adbr backup myDB
  Failed to backup service instance "myDB": failed due to server error, status code: 500</pre>',
    cause: 'The service instance agent is not running or is in an unhealthy state.',
    solution: 'Verify the health of the service instance VM and review the logs for the service instance.'
} %>

<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'failed-adbr-502',
    description: '"502" Error during Backup or Restore',
    symptom: '<p>When running <code>cf adbr backup</code> or <code>cf adbr restore</code>, an error occurs.</p>
    <p>For example:</p>
    <pre class="terminal">$ cf adbr backup myDB
  Failed to backup service instance "myDB": failed due to server error, status code: 502</pre>',
    cause: 'The VM is down, stopped, or in an unhealthy state.',
    solution: 'Verify the health of the broker VM and review the logs for the broker.'
} %>

<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'failed-restore',
    description: '"Status: Restore failed" after adbr Restore',
    symptom: '<p>When running <code>cf adbr get-status</code> after restoring to a service instance,
                 adbr returns <code>Restore failed</code>.</p>
    <p>For example:</p>
    <pre class="terminal">$ cf adbr get-status myTargetDB
Getting status of service instance myTargetDB in org my-org / space system as admin...
[Thu Feb 25 22:33:58 UTC 2021] Status: Restore failed</pre>',
    cause: 'A possible cause is that the database on the new service instance is not empty.
    For more information, see <a href="backup-restore.html#empty-database">The New Database Must Be Empty</a>
    in <em>Backing Up and Restoring VMware Tanzu SQL with MySQL for VMs.</em>',
    solution: "<p>To resolve the error and complete the restore:</p>
                <ol>
                 <li>
                     Determine if the database is empty by reviewing the log <code>/var/vcap/sys/log/mysql-restore/mysql-restore.stderr.log</code>
                     on the service instance.
                  </li>
                  <li>
                     If any GTIDs (global transaction identifiers) are printed in the logs, then the database is not empty.<br>
                     Delete the service instance and create a new service instance to restore the backup to.
                  </li>
                  <li>
                     If the log does not contain any GTIDs, then the restore failed for another reason.
                     Review other logs on the service instance and, if necessary, contact Support.
                  </li>
                 </ol> "
} %>

For general information about the adbr plugin,
see [Backing Up and Restoring <%= vars.product_full %>](./backup-restore.html).

### <a id="disk-usage-increases"></a> Persistent Disk Usage Is Increasing

If you have set the `optimize_for_short_words` parameter to `true` and
you are alerted that persistent disk usage is high,
then you might need to optimize indexed tables.


<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'shrink-index',
    description: 'Persistent Disk Usage Is Increasing',
    symptom: '<p>You have set the <code>optimize_for_short_words</code> optional parameter to <code>true</code>
    and the persistent disk is filling up. 
      </p>
      For information about the parameter,
      see <a href="change-default.html#optimize_for_short_words">Optimize for Short Words</a>.',
    cause: 'Over time, data has been deleted from your database and
            the full-text index has become too large.',
    solution: 'Remove full-text entries for deleted or old records by following the instructions
               in <a href="change-default.html#optimize_for_short_words">Optimize for Short Words</a>.'
} %>

For information about monitoring disk usage, see [Monitoring and KPIs](monitor.html).

## <a id="techniques"></a> Techniques for Troubleshooting

See the following sections for troubleshooting techniques when using
the Cloud Foundry Command-Line Interface (cf CLI) to perform basic
operations on a <%= vars.product_short %> service instance.

Basic cf CLI operations include `create`, `update`, `bind`, `unbind`, and `delete`.


### <a id="parse-error"></a>Understand a Cloud Foundry (CF) Error Message

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial '../../p-mysql/partials/services-tshoot/tshoot-tech-parse-error' %>

### <a id="instance"></a> Find Information about Your Service Instance

You might need to find the name, GUID, or other information about a service instance.
To find this information, do the following:

1. Log into the space containing the instance or failed instance.
    <pre class="terminal">
    $ cf login
    </pre>

1. If you do not know the name of the service instance, run `cf services` to see a listing of all service instances in the space.
The service instances are listed in the `name` column.
    <pre class="terminal">
    $ cf services
    Getting services in org my-org / space my-space as user<span>@</span>example.com...
    OK
    name          service      plan        bound apps    last operation
    my-instance   p.mysql      db-small                  create succeeded
    </pre>

1. To retrieve more information about a specific instance, run `cf service SERVICE-INSTANCE-NAME`

1. To retrieve the GUID of the instance, run `cf service SERVICE-INSTANCE-NAME --guid`

   The GUID is useful for debugging.


## <a id="kb"></a>Use the Knowledge Base (Community)

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial '../../p-mysql/partials/services-tshoot/tshoot-kb' %>

## <a id="support"></a>File a Support Ticket

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial '../../p-mysql/partials/services-tshoot/tshoot-support-dev' %>
